*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #111238;
  margin: 0;
}
.header{
  background-color: #f2f3f6;
  margin-bottom: 100px;
}
.menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item:not(:last-child){
  margin-right: 20px;
}
.menu-link{
  color: #111238;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.menu-link:hover::before{
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #111238;
  display: inline-block;
}
.button{
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
}
.button-link{
  color: #111238;
  padding: 10px;
  margin-right: 30px;
}
.button-primary{
  color: #FFFFFF;
  background-color: #1A75E8;
  border-radius: 5px;
  padding: 15px 30px;
}
.button-primary:hover{
  box-shadow: 0 0 10px #1A75E8;
}
.button-icon{
  vertical-align: middle;
  margin-right: 10px;
}
.button-text{
  vertical-align: middle;
}

/* Блок hero */
.section-categories{
  margin-bottom: 100px;
}
.hero-title{
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 15px;
  margin-top: 43px;
}
.hero-text{
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}
.input-group{
  background-color: #fff;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
.input{
  background-color: #FFFFFF;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
}
.input:focus{
  outline: 1px dotted #666;
}
.tags-group{
  padding-left: 15px;
  color: #b2b2b2;
  font-size: 14px;
  line-height: 17px;
}
.tag{
  color: #b2b2b2;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.tag:hover{
  box-shadow: 0 0 10px #b2b2b2;
}
/* категории */
.section{
  padding: 70px 0 80px 0;
}
.section-title{
  margin: 0 0 40px 0;
}
.card{
  text-decoration: none;
  color: #111238;
  background-color: #f2f3f6;
  border-radius: 10px;
  padding: 35px;
  margin-bottom: 15px;
  transition: background 0.2s color 0.2s;
}
.card:hover{
  background-color: #1A75E8;
  color: #fff;
}
.card:hover .card-icon{
  fill: #fff;
}
.card-icon{
  fill: #111238;
  margin-bottom: 15px;
}
/* Свежие вакансии */
.section-job-openings {
  margin-bottom: 100px;
}
.container {
}
.section-title {
}
.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f3f6;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}
.offer:last-child{
  margin-bottom: 0;
}
.section__imges {
  width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #F2F3F6;
}
.offer-title {
}
.offer-heading {
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  color: #111238; 
  margin: 0 0 10px 0; 
}
.offer-place {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #111238;  
}
.salary {
  color: #F2F3F6;
  background-color: #1A75E8;
  padding: 10px 20px;
  border-radius: 8px;
}
.demands p{
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #B2B2B2;  
  margin: 0 20px 0 0;
}
.demands span{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #B2B2B2;
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  padding: 5px 6px;
}
.demands span{
  margin-right: 10px;
}
.demands span:last-child{
  margin: 0;
}
.offer__link{
  color: #1A75E8;
  text-decoration: none;
  font-size: 14px;
}
.offer__link:hover{
  text-decoration: underline;
}
/* СЕКЦИЯ ФОРМЫ */
.section-form {
  background-color: #F2F3F6;
  margin-bottom: 100px;
}
.container {
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__block {
  max-width: 460px;
  text-align: center;
}
.form-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #111238;  
}
.hero-text {
}
.input-group {
}
.input {
}
.button {
}
.button-primary {
}
.button-icon {
}
.button-text {
}
/* подвал сайта  */
.footer {
  margin-bottom: 50px;
}
.container {
}
.flex-footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #1A75E8;
}
.flex-footer__img {
  margin-top: 18px;
  flex: 0 0 450px
}
.flex-footer__img p{
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #B2B2B2;  
}
.block1 {

}
.block2 {
}
.block3 a {
  display: block;
  text-decoration: none;
  margin-bottom: 17px;
  color: #111238;
}
.block3 a:hover{
  text-decoration: underline;
}